
# Python
*.pyc
*.pyo
*.pyd
backend/__pycache__/
*.swp

# Django
*.log
*.pot
*.pyc
db.sqlite3
*.sqlite3
/media/
/staticfiles/

# Environment Variables
.env
*.env
u.sh

# IDEs and Editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Celery beat schedule file
celerybeat-schedule

# Other
*.bak
*.tmp
*.orig
*.~*

# System files
.DS_Store
Thumbs.db
.vercel
